@import "tailwindcss";

:root {
  --color-neutral-hue: 210;
  --color-neutral-saturation: 10%;

  --color-danger-hue: 350;
  --color-warning-hue: 50;
  --color-success-hue: 150;
  --color-info-hue: 210;

  --color-accents-saturation: 75%;

  --color-lightness-darkest: 5%;
  --color-lightness-darker: 15%;
  --color-lightness-lighter: 85%;
  --color-lightness-lightest: 95%;
}

@theme {
  /* 1 === darkest && 5 === lightest */
  --color-neutral-1: hsl(
    var(--color-neutral-hue),
    var(--color-neutral-saturation),
    var(--color-lightness-darkest)
  );
  --color-neutral-2: hsl(
    var(--color-neutral-hue),
    var(--color-neutral-saturation),
    var(--color-lightness-darker)
  );
  --color-neutral-3: hsl(var(--color-neutral-hue), var(--color-neutral-saturation), 50%);
  --color-neutral-4: hsl(
    var(--color-neutral-hue),
    var(--color-neutral-saturation),
    var(--color-lightness-lighter)
  );
  --color-neutral-5: hsl(
    var(--color-neutral-hue),
    var(--color-neutral-saturation),
    var(--color-lightness-lightest)
  );

  --color-danger-1: hsl(
    var(--color-danger-hue),
    var(--color-accents-saturation),
    var(--color-lightness-darkest)
  );
  --color-danger-2: hsl(
    var(--color-danger-hue),
    var(--color-accents-saturation),
    var(--color-lightness-darker)
  );
  --color-danger-3: hsl(var(--color-danger-hue), var(--color-accents-saturation), 50%);
  --color-danger-4: hsl(
    var(--color-danger-hue),
    var(--color-accents-saturation),
    var(--color-lightness-lighter)
  );
  --color-danger-5: hsl(
    var(--color-danger-hue),
    var(--color-accents-saturation),
    var(--color-lightness-lightest)
  );

  --color-info-1: hsl(
    var(--color-info-hue),
    var(--color-accents-saturation),
    var(--color-lightness-darkest)
  );
  --color-info-2: hsl(
    var(--color-info-hue),
    var(--color-accents-saturation),
    var(--color-lightness-darker)
  );
  --color-info-3: hsl(var(--color-info-hue), var(--color-accents-saturation), 50%);
  --color-info-4: hsl(
    var(--color-info-hue),
    var(--color-accents-saturation),
    var(--color-lightness-lighter)
  );
  --color-info-5: hsl(
    var(--color-info-hue),
    var(--color-accents-saturation),
    var(--color-lightness-lightest)
  );

  --color-success-1: hsl(
    var(--color-success-hue),
    var(--color-accents-saturation),
    var(--color-lightness-darkest)
  );
  --color-success-2: hsl(
    var(--color-success-hue),
    var(--color-accents-saturation),
    var(--color-lightness-darker)
  );
  --color-success-3: hsl(var(--color-success-hue), var(--color-accents-saturation), 40%);
  --color-success-4: hsl(
    var(--color-success-hue),
    var(--color-accents-saturation),
    var(--color-lightness-lighter)
  );
  --color-success-5: hsl(
    var(--color-success-hue),
    var(--color-accents-saturation),
    var(--color-lightness-lightest)
  );

  --color-warning-1: hsl(
    var(--color-warning-hue),
    var(--color-accents-saturation),
    var(--color-lightness-darkest)
  );
  --color-warning-2: hsl(
    var(--color-warning-hue),
    var(--color-accents-saturation),
    var(--color-lightness-darker)
  );
  --color-warning-3: hsl(var(--color-warning-hue), var(--color-accents-saturation), 40%);
  --color-warning-4: hsl(
    var(--color-warning-hue),
    var(--color-accents-saturation),
    var(--color-lightness-lighter)
  );
  --color-warning-5: hsl(
    var(--color-warning-hue),
    var(--color-accents-saturation),
    var(--color-lightness-lightest)
  );
}
